@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Aesthetic Romance";
  src: url("../fonts/AestheticRomance.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 10px;
}

.aesthetic-font {
  font-family: "Aesthetic Romance";
  font-weight: bold;
}

.next-arrow,
.prev-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-arrow {
  right: 10px;
}

.prev-arrow {
  left: 10px;
}

/* Ensures no horizontal scroll is allowed */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw; /* Prevents extra width issues */
  scroll-behavior: smooth;
}

/* Fixes any overflow caused by specific child elements */
* {
  box-sizing: border-box; /* Ensures padding and borders are included in element size */
}
